<template >
    <div class="" style="">
        <h5>Registra carta</h5>
        <hr>

        <ul class="steps">
            <li id="step-1" :class="{active: currentStep==1}">
                <p>
                    1. Avvicinare la carta al lettore
                </p>
            </li>
            <li v-if="user" id="step-2" :class="{active: currentStep==2}">
                <p>
                    2. Dati della carta
                </p> 
                <div class="extra-data">
                    <div class="alert-msg" v-if="registerCardPreventOverwrite">
                        La card risulta essere già registrata a nome {{user.firstName}} {{user.lastName}}. 
                        <br>
                        Procedendo i dati verranno sovrascritti con quelli del nuovo utente
                        <span class="dismiss" v-on:click="()=>{this.dismissedAlert=true}" >OK</span>
                    </div>
                    <form action="">
                        <div>
                            <label style="display:block" for="">Nome titolare card</label>
                            <input type="text" :class="{blocked: registerCardPreventOverwrite}" v-model="user.firstName" name="holder_firstname" placeholder="Es: Paolo">
                        </div>
                        <div>
                            <label style="display:block"  for="">Cognome titolare card</label>
                            <input type="text" :class="{blocked: registerCardPreventOverwrite}" v-model="user.lastName" name="holder_lastname" placeholder="Es: Bianchi">
                        </div>
                        <div>
                            <label style="display:block"  for="">Numero matricola</label>
                            <input type="text" :class="{blocked: registerCardPreventOverwrite}" v-model="user.holderNumber" name="holder_number" placeholder="Es: 123456">
                        </div>
                        <button style="float:right" v-on:click.prevent="registerCard" :disabled="registerCardPreventOverwrite==true">Registra</button>
                        <div style="clear:both"></div>
                    </form>
                </div>
            </li>
            <li id="step-3" :class="{active: currentStep==3}">
                <p>
                    3. Fatto! allontanare la carta
                    <span class="next-actions" v-if="currentStep==3">
                        <span class="goto" v-if="ensureNoCard" v-on:click="reload">Registra una nuova carta</span>
                        <router-link class="goto" to="/">Torna alla home</router-link> 
                    </span>
                </p>
            </li>
        </ul>
    </div>
</template>
<style>
ul.steps{
    padding-left: 0em;
}
ul.steps li{
    list-style: none;
}
ul.steps li p{
    padding: 1em;
    background: #6b788c;
    margin: 0;
}
ul.steps li.active p{
    background:#7ae2bc;
}
ul.steps div.extra-data{
    background: #f7f7f7; 
    padding: 1em 1em;
}
ul.steps #step-2 form input.blocked{
    color: #aaa;
}
ul.steps #step-2 form button{
    float: right;
    background: #426294;
    color: white;
    border: 0;
    padding: .3em.5em;
    border-radius: 3px;
}
ul.steps #step-2 form button:disabled{
    background: #999;
}
.alert-msg{
    font-size: .9em;
    background: #fddb9c;
    color: #880c0c;
    border-radius: 3px;
    padding: .5em;
}
.alert-msg span.dismiss, .goto{
    /* float:right; */
    background: #426294;
    color: white;
    border: 0;
    padding: .3em.5em;
    border-radius: 3px;
    cursor: pointer;
}
.goto{
    margin-right: 1em;
}
</style>
<script>
const {ipcRenderer} = window.require('electron')

export default {
    name: 'card-register',
    components: {
    },
    props:[
        'to_preview',
    ],
    data: function(){
        return {
                test: "one",
                currentStep: 1,
                cardExists: false,
                dismissedAlert: false,
                ensureNoCard: false,
                user: {firstName:"", lastName:""}
            }
    },
    computed: {
        // currentStep: ()=>{
        //     return 1}
        registerCardPreventOverwrite: function(){
            return this.cardExists && !this.dismissedAlert
        }
    },
    methods: {       
        checkCard: function(){
            ipcRenderer.invoke('checkcard').then(result=>{
                this.currentStep = 2;
                this.cardExists = true
            }).catch(()=>{
                this.currentStep = 2;
            })
        },
        registerCard: function(){
            if (!this.user.firstName ||
                !this.user.lastName){
                    return
                }
            ipcRenderer.invoke('registercard', 
                {
                    firstName: this.user.firstName,
                    lastName: this.user.lastName,
                    companyId: this.user.holderNumber
                }
            ).then(result=>{
                this.currentStep = 3              
                ipcRenderer.invoke("readingcard").then((result)=>{
                    this.ensureNoCard = (result===false)
                })
            })
        },
        reload: function(){
            location.reload()
        }
    },
    created: function(){
        this.checkCard()
    }
}
</script>

