<template>
  <div class="about">
    <h5 id="setting">Esporta timbrature in csv</h5>
    <button id="download" v-on:click="downloadCSV">Esporta csv</button>
  </div>
</template>

<style>
.setting-group{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 1em
}
.setting-group label{
  display:block;
  font-size: 13px;
}
.setting-group>*{
  width: 70%;
}
#download{
    background: #426294;
    color: white;
    border: 0;
    padding: .3em.5em;
    border-radius: 3px;
}
</style>
<script>
const {ipcRenderer} = window.require('electron')
const { dialog } = window.require('electron').remote
export default {
  name: 'Settings',
  components: {
  },
  data: function(){
    return {
    }
  },
  computed: {
  },
  methods: {
      downloadCSV: function(){
        console.log("down")
        ipcRenderer.invoke("download-csv").then((result)=>{
                alert("Download completato")
        })
      }
  },
  created: function () {
      
  }
}
</script>
