<template>
  <div class="home">
    <loader v-if="loading"></loader>
    <h5>Letture recenti</h5>
    <hr>

    <div style="display:flex;">
      <ul style="margin-top: 2em">
        <li :class="{active: logFilter=='today'}" ><a v-on:click="()=>{this.logFilter='today'}" href="#">Giornaliero</a></li>
        <li :class="{active: logFilter=='yesterday'}"><a v-on:click="()=>{this.logFilter='yesterday'}" href="#">Ieri</a></li>
        <li :class="{active: logFilter=='month'}"><a v-on:click="()=>{this.logFilter='month'}" href="#">Questo mese</a></li>
      </ul>
      <div style="min-width: 1em"></div>
      <div class="logs">
        <input style="border: 1px solid #aaa; border-radius: 2px" placeholder="Cerca timbratura" type="search" v-model="search">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Matricola</th>
              <th>Ore</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="log in filteredLogs" v-bind:key="log">
              <th>{{log.firstName}}</th>
              <th>{{log.lastName}}</th>
              <th>{{log.holderNumber}}</th>
              <th>{{log.daytime}}</th>
              <th>{{log.day}}</th>
              
            </tr>
          </tbody>  
        </table>  
      </div>    
    </div>
  </div>
</template>

<style>
  .body {
   display: flex;
   flex-flow: column;
   height: 100%; 
   background: #ccc;
  }
  .home ul{
    padding: 0;
    background: #d4d4d4 !important;
  }
  .home ul li{
    padding: 1em 2em 1em .2em;
    list-style: none;
  }
  .home ul li.active{
    background: #efefef;
  }
  .home .logs table{
    width: 50vw;
    background: white;
  }
  .home .logs table tr{
    table-layout:fixed;
    width:100%;
    display:table;
    margin: .25em 0;
  }
  .home .logs table tbody tr th{
    font-weight: 200;
  }
  .home .logs table tbody{
    border-top: 1px solid #ccc;
  }
  .home .logs table tbody tr:not(:first-child){
    border-top: 1px solid #ccc;
  }
  .home .logs tbody{
    display: block;
    max-height: 50vh;
    overflow-y: auto ;
  }
</style>
<script>
// @ is an alias to /src

const {ipcRenderer} = window.require('electron')

// import {ipcRenderer} from 'electron';

export default {
  name: 'Home',
  components: {

  },
  data: function(){
    return {
      logs:[],
      loading: false,
      logFilter: "today",
      search:""
    }
  },
  computed: {
    filteredLogs: function(){
      let f = {
        "today":(log)=>{return this.isToday(new Date(log.isodate))},
        "yesterday":(log)=>{return this.isYesterday(new Date(log.isodate))},
        "month":(log)=>{return this.isThisMonth(new Date(log.isodate))}
      }
      let s = (log)=>{return Object.values(log).join("").indexOf(this.search)>-1}
      console.log(this.logFilter)
      if (!this.logFilter){
        return this.logs
      }
      return this.logs.filter(f[this.logFilter]).filter(s)
    }
  },
  methods: {
    isToday: (someDate) => {
      const today = new Date()
      return someDate.getDate() == today.getDate() &&
        someDate.getMonth() == today.getMonth() &&
        someDate.getFullYear() == today.getFullYear()
    },
    isYesterday: (someDate) => {
      const today = new Date()
      const yesterday = new Date(today)
      yesterday.setDate(yesterday.getDate() - 1)
      return someDate.getDate() == yesterday.getDate() &&
        someDate.getMonth() == yesterday.getMonth() &&
        someDate.getFullYear() == yesterday.getFullYear()
    },
    isThisMonth: (someDate) => {
      const today = new Date()
      return someDate.getMonth() == today.getMonth() &&
        someDate.getFullYear() == today.getFullYear()
    },
    refreshTable: function(){
      ipcRenderer.invoke("showlogs").then((result)=>{
        this.logs = result
      })
    },
    logToday: function(log){
      return log.isToday
    }
  },
  created: function () {
    this.refreshTable()
    ipcRenderer.on("cardlogged", (event, log)=>{
        this.refreshTable()
    })
  }
}

</script>
