<template>
  <div class="about">
    <h1 id="setting">Settings</h1>
    <div class="setting-group">
      <label>API host</label>
      <input type="text" v-model="host">
    </div>
    <div class="setting-group">
      <label>Username</label>
      <input type="text" v-model="username">
    </div>
    <div class="setting-group">
      <label>Password</label>
      <input type="password" v-model="password">
    </div>
    <div class="setting-group">
      <label>Organizzazione</label>
      <select v-model="selected_company">
        <option v-for="company in companies" :key="company.id" :value="company">{{company.name}}</option>
      </select>
      <button v-on:click="findcompanies">Ritrova organizzazioni</button>
    </div>
    <div class="setting-group">
      <label>Percorso templates</label>
      <input type="text" v-model="template_path">
      <button v-on:click="pick('template_path', 'openDirectory')">Scegli percorso templates</button>
    </div>
    <div class="setting-group">
      <label>Percorso applicazione</label>
      <input type="text" v-model="exe_path">
      <button v-on:click="pick('exe_path', 'openFile')">Scegli percorso applicazione</button>
    </div>
  </div>
</template>

<style>
.setting-group{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 1em
}
.setting-group label{
  display:block;
  font-size: 13px;
}
.setting-group>*{
  width: 70%;
}
</style>
<script>
const {ipcRenderer} = window.require('electron')
const { dialog } = window.require('electron').remote
export default {
  name: 'Settings',
  components: {
  },
  data: function(){
    return {
      "host":"",
      "template_path":"",
      "exe_path":"",
      "username":"",
      "password":"",
      "companies":[
        
      ],
      "selected_company":{}
    }
  },
  computed: {
  },
  watch: {
    host: function(val){
      ipcRenderer.invoke("updatesettings","host", val)
    },
    username: function(val){
      ipcRenderer.invoke("updatesettings","username", val)
    },
    password: function(val){
      ipcRenderer.invoke("updatesettings","password", val)
    },
    template_path: function(val){
      ipcRenderer.invoke("updatesettings","template_path", val)
    },
    exe_path: function(val){
      ipcRenderer.invoke("updatesettings","exe_path", val)
    },
    selected_company: function(val){
      ipcRenderer.invoke("updatesettings","selected_company", val)
    }
  },
  methods: {
    pick: function(path, fileType){
      this[path] = dialog.showOpenDialogSync({properties:[fileType]})
    },
    findcompanies: function(){
      ipcRenderer.invoke("findcompanies").then((result)=>{
        this.companies = result
        ipcRenderer.invoke("updatesettings","companies", result)
      })
    }
  },
  created: function () {
    ipcRenderer.invoke('heart').then((result)=>{
      console.log(result)
    })
    ipcRenderer.invoke('readsettings').then((result)=>{
      console.log("Result", result)
      for(let k in result){
        this[k] = result[k]
      }
    })

  }
}
</script>
