<template >
    <div class="preview" style="">
        <h2>Dettagli</h2>
        <div v-if="to_preview">
            <div class="item" :key="item" v-for="item of Object.entries(to_preview.show)" >
                <label for="">{{item[0]}}</label>
                <span>{{ item[1] }}</span>
            </div>
        </div>
    </div>
</template>
<style>
.preview{
    border: 3px solid #4cb7;
    padding: 1rem;
}
.preview .item {
    margin-bottom: .5rem;
}
.preview .item > label{
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
</style>
<script>
export default {
    name: 'info-preview',
    components: {
    },
    props:[
        'to_preview',
    ]
}
</script>

