<template >
  <div style="display:flex">
    <div class="column" style="flex:1; overflow: auto">
      <input type="search" style="height: 30px; width: 100%; margin-bottom: .5rem;" placeholder="Cerca etichetta" v-model="searchName">
      <table>
        <tr>
          <th  v-on:click="toggleSort(idx)" v-for="(header,idx) in meta.headers" :key="header">
            <span>{{header}}</span>
            <span class="arrow" :class="{'arrow-up': !!sortingCriteria.ascending, 'arrow-down': !sortingCriteria.ascending }"></span>
          </th>
        </tr>
        <tr v-for="item in filteredRows" :key="item.hash">
          <td
            :class="{highlighted: item == selectedItem }"
            v-on:click="selectItem(item)"
            v-for="field in item.fields"
            :key="field"
          >{{field}}</td>
        </tr>
      </table>
    </div>
    <div class="column" v-if="meta.children" style="flex:1; display: flex; flex-flow: column;">
      <multi-table
        class="multi-table"
        v-bind:style="{maxHeight:'calc(100% - ' + slotSize + ')'}"
        v-if="!selectedItem"
        :meta="meta.children.meta"
        :rows="[]"
        :slotSize="slotSizeChild"
      ></multi-table>
      <multi-table
        class="multi-table"
        v-bind:style="{maxHeight:'calc(100% - ' + slotSize + ')'}"
        v-if="selectedItem"
        :meta="meta.children.meta"
        :rows="selectedItem.children"
        :cb="cb"
        :slotSize="slotSizeChild"
      ></multi-table>
      <slot></slot>
    </div>
  </div>
</template>
<style scoped>
div.column {
  margin-right: 15px;
  height: 100%;
}
div.column:last-child {
  margin-right: 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.highlighted {
  background: #97debe;
}
tr{
  cursor:pointer;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.arrow {
  float:right;
  position: relative;
  top: 8px;

}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid black;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-bottom: 5px solid black;
}
.multi-table {
  flex: 1 1 auto;
}
</style>
<script>
import MultiTable from "@/components/MultiTable";

export default {
  name: "multi-table",
  components: {
    MultiTable,
  },
  props: ["meta", "rows", "cb", "slotSize"],
  computed: {
    filteredRows: function() {
      let filtered = this.rows.filter(row => {
        return (
          !this.searchName || row.fields.join("").indexOf(this.searchName) > -1
        );
      });
      if (this.sortingCriteria.colIdx > 0){
        filtered = filtered.sort((a,b)=>{
          let ascending_to_n = this.sortingCriteria.ascending ? 1 : -1
          return (ascending_to_n) * a.fields[this.sortingCriteria.colIdx].localeCompare(b.fields[this.sortingCriteria.colIdx])
        })
      }
      return filtered
    },
  },
  created() {
    this.selectedItem = null;
  },
  data() {
    return {
      searchName: "",
      selectedItem: {
        children: []
      },
      sortingCriteria:{
        colIdx: 1,
        ascending: true
      },
      slotSizeChild: "0"
    };
  },
  methods: {
    toggleSort(header){
      this.sortingCriteria['colIdx'] = header
      this.sortingCriteria['ascending'] = !this.sortingCriteria['ascending'] 
    },
    selectItem: function(el) {
      this.selectedItem = el;
      this.cb(this.selectedItem);
    }
  }
};
</script>

