<template>
  <div id="app">
    <div id="nav">
      <ul>
      <li>
        <router-link to="/">Presenze</router-link> 
      </li>
      <li>
        <router-link id="settings-link" to="/card_register">Registra carta</router-link>
      </li>
      <li>
        <router-link id="settings-link" to="/export">Esporta dati</router-link>
      </li>
      </ul>

    </div>
    <div id="body">
      <router-view/>
    </div>    
  </div>
</template>

<style>
body{
  margin: 0;
  background: #fbfbfb;
}
#body{
  padding: 1rem;
}

#body > * {
  box-sizing: content-box;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
  display: flex;
  align-items: stretch;
  height: 100vh;
}

#app #nav{
  flex: 1;  
  padding: 1rem;
  background: #233146;
}

#app #nav>*{
  margin: 1rem;
}

#nav ul{
  padding-left: 0;
}
#nav ul li{
  list-style: none;
  padding: .5em 0;
}
#app #body{
  flex: 5;
}
#app #nav a{
  text-decoration: none;
}
#nav {
  padding: 30px;
  background: #888;
}

#nav a {
  /* font-weight: bold; */
  font-size: .9em;
  color: #fff;
  display: block;
}

#nav a.router-link-exact-active {
  color: #8bfff5 !important;
}
h1{
  font-size: 26px;
}
input,select{
  height: 30px;
}
</style>
